
:root {
  /*CORES UTILIZADAS NO PROJETO*/
  --content: #FFEDDF;
  --contrast: #ffe42e;
  --background: #282e36;
  --background-darker: #1b2026;
}



body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background)
}

code {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--contrast);
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 93, 1, 0.8);
}
