
:root {
  /*CORES UTILIZADAS NO PROJETO*/
  --content: #FFEDDF;
  --contrast: #ffe42e;
  --background: #282e36;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--contrast);
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 93, 1, 0.8);
}
