
:root {
  /*CORES UTILIZADAS NO PROJETO*/
  --content: #FFEDDF;
  --background: #282e36;
}



body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background)
}

code {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background: var(--content);
  border-radius: 10px 0 0 10px;
}

/*
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}
*/
