#contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100vh;
}

#honeyPot {
    display: none;
}

#social-container {
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.2);
    padding: 30px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

.social-icon {
    aspect-ratio: 1;
    fill: black;
    width: 30px;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.social-icon:hover {
    cursor: pointer;
    scale: 1.2;
    opacity: 1;
    fill: var(--content);
    filter: drop-shadow(1px 1px 10px white);
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.8),
        -2px -2px 10px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 25px;
    color: var(--content);

    h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    h4 {
        margin: 0;
        width: 100%;
        text-align: start;
    }

    input,
    textarea {
        width: 100%;
        border: none;
        border-radius: 15px;
        margin: 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.08);
        box-shadow:
            inset 2px 2px 3px rgba(0, 0, 0, 0.6),
            inset -2px -2px 3px rgba(255, 255, 255, 0.1);
        resize: none;
        color: var(--content);
    }

    input {
        height: 25px;
        margin-top: 20px;
    }

    textarea {
        height: 100px;
    }

    label {
        place-self: start;
        transform: translateY(-175%);
        transition: all 0.3s ease-out;
    }

    input:focus,
    textarea:focus {
        outline: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        transform: translateY(-350%);
    }
}

#form-submit {
    font-family: "Pixelify Sans", sans-serif;
    border: none;
    margin: 30px 0 10px;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--background);
    text-shadow:
        -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
}

#form-submit:hover {
    transform: translateY(-1px);
    background-color: var(--content);
    box-shadow:
        -2px -2px 5px rgba(255, 255, 255, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.4);
    text-shadow:
        -1px -1px 1px rgba(255, 255, 255, 0),
        1px 1px 1px rgba(0, 0, 0, 0);
    color: var(--background);
}

#form-submit:active {
    transform: translateY(1px);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--background);
    text-shadow:
        -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.1);
}

@media(max-width: 650px){
    #social-container{
        top: 5%;
        flex-direction: row;
        padding: 15px 30px;
    }
}

@media(max-width: 450px){
    #form-container{
        width: 70%;
    }
}