#home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    background-color: var(--background);
    color: var(--content);
}

#about-container {
    width: fit-content;
    display: flex;
    align-items: start;
    justify-content: center;
    color: var(--content);
    padding: 10px;
    border-radius: 25px;
    box-shadow:
        2px 2px 8px rgba(0, 0, 0, 0.6),
        -2px -2px 10px rgba(255, 255, 255, 0.1);
}

#about-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 12vw;
    gap: 10px;
}

#about-right-side {
    width: 35vw;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: justify;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:
        inset 2px 2px 4px rgba(0, 0, 0, 0.6),
        inset -2px -2px 4px rgba(255, 255, 255, 0.2);

    h1 {
        margin-top: 0;
    }
}

#my-picture {
    width: 100%;
    border-radius: 10px;
}

#my-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill-icons {
    margin: 5px;
    border-radius: 15px;
    box-shadow:
        -2px -2px 3px rgba(255, 255, 255, 0.1),
        2px 2px 3px rgba(0, 0, 0, 0.4);
}

#pills-container {
    width: calc(47vw + 60px);
    height: 10%;
    box-shadow:
        2px 2px 8px rgba(0, 0, 0, 0.6),
        -2px -2px 10px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.pill {
    width: 40vw;
    text-align: center;
    font-size: clamp(15px, 1px, 20px);
    /*color: var(--contrast);*/
}