#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 70px 0 80px;
    color: var(--content);
    box-sizing: border-box;
}

#section-title {
    font-size: 30px;
    margin: 50px 0 30px;
}

.projects-icon {
    aspect-ratio: 1;
    object-fit: cover;
    width: 20%;
    border-radius: 15px;
    box-shadow:
        -2px -2px 5px rgba(255, 255, 255, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.5);
}

#projects-selector {
    width: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

#main-img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

#main-project {
    width: 65%;
    height: fit-content;
    box-shadow:
        -2px -2px 5px rgba(255, 255, 255, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 0 0 auto;

    a {
        width: 200px;
    }
}

#top-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px;
    height: 200px;
    padding-bottom: 0;
}

#short-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    margin: 0 0 auto;
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.1);
}

#project-title {
    margin: 0 auto;
    font-size: clamp(1rem, 0.5rem + 2vw, 5rem);
    text-align: center;
}

#project-stacks {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.project-stack {
    width: 60px;
    border-radius: 15px;
    box-shadow:
        -2px -2px 5px rgba(255, 255, 255, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.5);
}

#project-description {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.1);
    font-size: 15px;
    text-align: justify;
}

@media (max-width: 1000px) {
    #project-stacks {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .project-stack {
        margin-left: 10px;
    }

    #top-section {
        height: fit-content;
    }
}

@media (max-width: 750px) {
    #project-stacks {
        padding: 0;
    }

    .project-stack {
        width: 45px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }

    .projects-icon {
        width: 100%;
    }
}

@media (max-width: 680px) {
    #top-section {
        height: fit-content;
        flex-direction: column-reverse;
        gap: 20px;
        a {
            width: 100%;
        }
    }

    #short-info {
        width: 100%;
        box-sizing: border-box;
    }

    #project-title {
        font-size: clamp(2rem, 0.5rem + 2vw, 5rem);
    }

    #project-stacks {
        padding: 0 5%;
    }

    .project-stack {
        width: 50px;
    }

    #projects-selector {
        width: 80%;
    }

    .projects-container {
        width: 80%;
    }
}