.App {
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  color: white;
  margin: 60px 0 20px;
  font-size: clamp(2rem, 1rem + 5vw, 3rem);
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;

  margin: 30px 0;
  width: 70%;
  height: fit-content;
  border-radius: 25px;
  padding: 30px 10px;
  background-color: #262629;
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);
}

#git-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

#stats {
  height: auto;
  width: 95%;
  margin: 5px 0 25px 0;
  border-radius: 20px;
  box-shadow:
    -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.5);
}

#git-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.icons {
  aspect-ratio: 1;
  height: 50px;
  border-radius: 15px;
  margin: 0 10px;
  box-shadow:
    -2px -2px 3px rgba(255, 255, 255, 0.1),
    2px 2px 3px rgba(0, 0, 0, 0.5);
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: fit-content;
  width: 20%;
  padding: 20px;
  background-color: var(--background);
  border-radius: 25px;
  box-shadow:
    -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.5);
}

#profile-img {
  aspect-ratio: 1/1.3;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 0 10px;
}

#typing-name {
  width: 100%;
  height: auto;
}

.Topic-divisor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 30px 0;
}

.line {
  flex: 1;
  border: none;
  border-radius: 100px;
  background-color: #262629;
  height: 15px;
  margin: 0 10px;
  box-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.2),
    -1px -1px 1px rgba(0, 0, 0, 0.6);
}

span:not(#image-container span) {
  margin: 0 10px;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
  font-weight: bold;
  color: #262629;
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.2),
    -1px -1px 1px rgba(0, 0, 0, 0.6);
}

.project-card {
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  padding: 15px;
  border-radius: 25px;
  color: var(--content);
  background-color: var(--background);
  filter: brightness(120%);
  box-shadow:
    -2px -2px 5px rgba(255, 255, 255, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.4);
}

.description {
  text-align: justify;
  margin-top: 10px;
  padding: 8px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.15);

  p {
    margin: 10px 0;
  }

  h3 {
    margin: 0;
  }
}

.project-img {
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.logo {
  position: absolute;
  z-index: 10;
  font-size: 60px;
  bottom: 0;
  right: -5px;
  background-color: var(--background);
  padding: 5px 0 0 5px;
  border-radius: 10px 0 0 0;
  line-height: 0;
}

.logo::after {
    content: "";
    aspect-ratio: 1;
    width: 15px;
    border-radius: 0 0 10px 0;
    background:  transparent;
    display: block;
    position: absolute;
    top: -15px;
    right: 5px;
    box-shadow: 3px 3px 0 var(--background);
}

.logo::before {
    content: "";
    aspect-ratio: 1;
    width: 15px;
    border-radius: 0 0 10px 0;
    background: transparent;
    display: block;
    position: absolute;
    bottom: 4px;
    left: -15px;
    box-shadow: 3px 3px 0 var(--background);
}

.project-title {
  margin-top: -5px;
  width: 100%;
  position: absolute;
  text-align: center;
  top:0;
  font-size: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  word-wrap: break-word;
  color: var(--content);
  background: linear-gradient(to bottom, rgba(43, 43, 46, 1) 0%, rgba(43, 43, 46, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
  filter: blur(100%);
  text-shadow: 2px 2px 10px var(--background);
}

.container-img {
  position: relative;
}

.contact-box {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 20px;
  margin: 0 0 60px;
  border-radius: 25px;
  background-color: #262629;
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--content);
    text-align: center;

    #honeyPot {
      display: none;
    }

    input,
    textarea {
      width: 100%;
      border: none;
      border-radius: 15px;
      margin: 5px 0;
      padding: 10px;
      background-color: #212124;
      box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.6),
        inset -2px -2px 3px rgba(255, 255, 255, 0.1);
      resize: none;
      color: var(--content);
    }

    input {
      height: 25px;
    }

    textarea {
      height: 100px;
    }

    label {
      place-self: start;
      transform: translateY(-200%);
      transition: all 0.3s ease-out;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      transform: translateY(-400%);
    }
  }
}

#formSubmit {
  border: none;
  margin: 30px 0 10px;
  padding: 10px 40px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  background-color: #212124;
  color: var(--background);
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

#formSubmit:hover {
  transform: translateY(-1px);
  background-color: var(--contrast);
  box-shadow:
    -2px -2px 5px rgba(249, 207, 158, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
  color: var(--content);
}

#formSubmit:active {
  transform: translateY(1px);
  background-color: #212124;
  color: var(--background);
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);
}

@media (max-width: 490px) {
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
  }

  #profile-card,
  #git-img,
  #git-icons {
    width: 100%;
    box-sizing: border-box;
  }
}
