#controller {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 1rem 1rem;
    gap: 0.6rem;
    z-index: 99;
    line-height: 0;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}

#labelIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    color: var(--background);
    background-color: var(--content);
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
    
    #icon {
        rotate: 225deg;
        transition: 0.5s ease-in;
    }
    
}
#labelIcon:hover {
    cursor: pointer;
}

#menuBtn {
    display: none;
}

#menuBtn:checked ~ #labelIcon {
    #icon {
        rotate: 0deg;
    }
}

#menuBtn:checked ~ #navBar {
    transform: translateX(0);
}

#navBar {
    transform: translateX(-300%);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 1rem;
    transition: 0.5s ease-in-out;
    background-color: var(--content);
    color: var(--background);

    .btn {
        fill: var(--background);
        width: 34px;
        transition: 0.2s ease-in;
    }
}

#navBar .btn:hover {
    scale: 1.2;
    opacity: 0.9;
    filter: drop-shadow(0 0 2px white);
    cursor: pointer;
}